body {
	background: url(bg.jpg) no-repeat center fixed;
	font-family: sans-serif;
	text-align: center;
    background-size: cover;

}

h1 {
	color: white;
	font-size: 50px;
	font-weight: normal;
	margin-bottom: 0;
	font-family: 'Bree Serif', serif;


}

h2 {
	color: green;
	font-size: 18px;
	margin-top: 0;
}

.bio {
	color: yellow;
	font-size: 14px;
}

.me {
	height: 150px;
	width: 150px;
	border-radius: 100%;
	border-style: solid;
	border-color: white;
	margin-top: 40px
}